table td {
	width: 5vmin;
	height: 5vmin;
}

div.element {
	text-align: center;
	font-weight: bold;
	font-size: 2.4vmin;
}
div.number {
	text-align: left;
	font-size: 1.0vmin;
}
div.weight {
	text-align: right;
	font-size: 1.0vmin;
}
td.group {
	text-align: center;
	font-size: 1.2vmin;
}

.skip {
	width: 2vmin;
	height: 2vmin;
}

td.red {
	background-color: red;
}
td.cyan {
	background-color: cyan;
}
td.yellow {
	background-color: yellow;
}
td.khaki {
	background-color: khaki;
}
td.darkkhaki {
	background-color: darkkhaki;
}
td.darkgrey {
	background-color: darkgrey;
}
td.coral {
	background-color: coral;
}
td.lightgray {
	background-color: lightgray;
}
td.hotpink {
	background-color: hotpink;
}
td.mediumvioletred {
	background-color: mediumvioletred;
}